<div class="container-fluid">
  <div class="row question-row">
    <!-- <div class="mob-left-list" (click)="showLists();">Menu</div> -->
    <div class="col-lg-3 left-list left-side-scroll">
      <app-user-side-menu></app-user-side-menu>
    </div>

    <div class="col-md-9 content-sec offset-md-3">
      <div class="col-md-10 offset-md-1">
        <!-- <h2 class="user-heading">Edit User</h2> -->
        <form class="all-fields row" #f="ngForm" (submit)="f.valid ? getUsers():''">
          <!-- <div class="selection-fields col-md-6">
            <mat-form-field class="user-mangt">
              <mat-select name="partner" placeholder="Partner" [(ngModel)]="userManagementService.resetPasswordDetails.selectedPartner"
                (valueChange)="selectedSubpartner=undefined" required>
                <mat-option *ngFor="let partner of userManagementService.allPartners" [value]="partner">
                  {{partner.name}}
                </mat-option>
              </mat-select>
              <mat-error class="padding-bottom ">
                Please provide partner name
              </mat-error>
            </mat-form-field>
          </div> -->
          <div class="selection-fields col-md-6 offset-md-3">
            <mat-form-field class="user-mangt">
              <mat-select [(ngModel)]="userManagementService.resetPasswordDetails.selectedRole" placeholder="User Role" name="role" required>
                <mat-option *ngFor="let opt of userManagementService.userRoles"
                  [value]="opt">
                  {{opt.name}}
                </mat-option>
              </mat-select>
              <mat-error class="padding-bottom ">
                Please provide user role
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group" [ngClass]="userManagementService.resetPasswordDetails.selectedRoleId && userManagementService.resetPasswordDetails.selectedRoleId == 2 || userManagementService.resetPasswordDetails.selectedRoleId == 4 ? 'col-md-6 text-left':'col-md-12 text-center'">
            <button class="btn btn-default proceed-btn button-fn user-submit button-fn" type="submit">Submit</button>
            <!-- [disabled]="!selectedRoleId || (selectedRoleId ==2 && !selectedDistrictId) ||  (selectedRoleId ==3 && !selectedBlockId)" -->
          </div>
        </form>

        <div class="user-details-tbl" *ngIf="userManagementService.resetPasswordDetails.allUser && userManagementService.resetPasswordDetails.allUser.length">
          <h2 class="user-heading"></h2>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4 text-right">
              <mat-form-field class="user-mangt">
                <input matInput [(ngModel)]="userManagementService.searchTexts" placeholder="Filter">
              </mat-form-field>
            </div>
          </div>
          <div class="table-responsive">
            <table id="user-history" class="table table-bordered" cellspacing="0" width="100%" style="text-align: center;">
              <thead class="user-table-header">
                <tr class="user-pass-table-header">
                  <th class="t-heading">Sl. No.</th>
                  <th class="t-heading">Full Name</th>
                  <th class="t-heading">User Name</th>
                  <th class="t-heading">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let tbl of userManagementService.resetPasswordDetails.allUser | searchText : userManagementService.searchTexts | paginate: { itemsPerPage: 5, currentPage: userManagementService.e, id: 'editing' } ; let i=index">
                  <!-- <td>{{i+1}}</td> -->
                  <td>{{tbl.slNo}}</td>
                  <td>{{tbl.name}}</td>
                  <td>{{tbl.userName}}</td>            
                  <td>
                    <button type="button" class="btn reset-pass-btn reset-btn" title="reset password" (click)="resetModal(tbl)">
                      Change Password
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls *ngIf="userManagementService.resetPasswordDetails.allUser.length > 5" class="pagination" (pageChange)="userManagementService.e = $event"
            id="editing">
          </pagination-controls>
        </div>

        <div *ngIf="(userManagementService.resetPasswordDetails.allUser) && !(userManagementService.resetPasswordDetails.allUser | searchText : userManagementService.searchTexts).length"
          class="no-user">No user available</div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="resetPassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  data-backdrop="static">
  <div class="modal-dialog modal-notify modal-error" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h5 class="col-md-12 heading lead text-center" style="color:#fff">Change Password</h5>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="col-md-12 select-container">
          <form [noValidate]="true" #newF="ngForm" (submit)="newF.valid ?submitModal(newF):''" novalidate>          
            <div class="row">
              <div class="col login-pwd">
                <mat-form-field class="user-mangt">
                  <input matInput placeholder="New Password" [pattern]='passwordRegex' [(ngModel)]="newPassword" name='pass' required>
                  <mat-error class="padding-bottom ">
                    {{newF.controls['pass']?.errors?.pattern ? 'Password should be alphanumeric with special character (!@#$%^&*_-) and length: 7-15':'Please
                    provide password'}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col login-pwd">
                <mat-form-field class="user-mangt">
                  <input matInput placeholder="Confirm Password" [pattern]='passwordRegex' type="password" name="confirmpass" [(ngModel)]="confirmPassword"
                    required>
                  <mat-error class="padding-bottom ">
                    {{newF.controls['confirmpass']?.errors?.pattern ? 'Password should be alphanumeric with special character (!@#$%^&*_-) and length: 7-15':'Please
                    provide password'}}
                  </mat-error>
                </mat-form-field>
                <div *ngIf="confirmPassword && confirmPassword != newPassword && !newF.controls['confirmpass']?.errors?.pattern" class="material-error">
                  <mat-error class="padding-bottom resetPass">
                    The passwords do not match.
                  </mat-error>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="text-center col">
                <button type="submit" class="btn modal-btn button-fn">Submit</button>
                <button type="button" class="btn modal-cancel button-fn" data-dismiss="modal" (click)="newF.resetForm()" style="margin-left: 10px;">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div class="modal fade" id="successMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-error" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Success</p>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <p>Password has been successfully Changed.</p>
        </div>
        <button type="button" class="btn btn-secondary m-auto d-block modal-btn" data-dismiss="modal">Ok</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!-- errror modal -->
<div id="errorModal" class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header error-modal-header">
        <h4>Error !</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <p>{{validationMsg}}</p>
        <button class="btn btn-success" data-dismiss="modal">
          <span>OK</span>
        </button>
      </div>
    </div>
  </div>
</div>