<div class="container">
  <div class="row">
    <div class="col-md-12 content-sec">
      <h2 class="title-heading" *ngIf="app.langSelection == 1">Reset Password</h2>
      <h2 class="title-heading" *ngIf="app.langSelection == 2">ପାସୱାର୍ଡ ପୁନଃ ସେଟ୍ କରନ୍ତୁ</h2>
      <div class="col-md-10 offset-md-1">
        <form class="all-fields row" #f="ngForm" (submit)="f.valid ?changePasswordForm(f):''">
          <div class="selection-fields col-md-4">
            <mat-form-field class="user-mangt">
              <!-- <input matInput *ngIf="app.langSelection == 1"  name="currpassword" [pattern]='passwordRegex' placeholder="Current Password" [(ngModel)]="currpassword" required> -->
              <input matInput name="currpassword" [pattern]='passwordRegex' [placeholder]="app.langSelection == 1 ? 'Current Password':' ଏବେକାର ପାସୱାର୍ଡ଼'"
                [(ngModel)]="currpassword" required>
              <mat-error class="padding-bottom ">
                {{f.controls['currpassword']?.errors?.pattern ? 'Current Password should be alphanumeric with special character (!@#$%^&*_-)
                and length: 7-15':'Please provide current password'}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="selection-fields col-md-4">
            <mat-form-field class="user-mangt">
              <input matInput name="password" [pattern]='passwordRegex' [placeholder]="app.langSelection == 1 ? 'New Password':'ନୁତନ  ପାସୱାର୍ଡ଼'"
                [(ngModel)]="password" required>
              <mat-error class="padding-bottom ">
                {{f.controls['password']?.errors?.pattern ? 'New password should be alphanumeric with special character (!@#$%^&*_-) and
                length: 7-15':'Please provide password'}}
              </mat-error>
            </mat-form-field>
            <div *ngIf="password && password == currpassword && !f.controls['password']?.errors?.pattern" class="material-error">
              <mat-error class="padding-bottom" style="font-size:11px;margin-top:-16px">
                Current password and new password should not be same
              </mat-error>
            </div>
          </div>
          <div class="selection-fields col-md-4">
            <mat-form-field class="user-mangt">
              <input matInput type="password" name="confpassword" [pattern]='passwordRegex' [placeholder]="app.langSelection == 1 ? 'Confirm Password':'ନୂତନ ପାସୱାର୍ଡ଼ ନିଶ୍ଚିତ କରନ୍ତୁ'"
                [(ngModel)]="confPassword" required>
              <mat-error class="padding-bottom ">
                {{f.controls['confpassword']?.errors?.pattern ? 'Confirm password should be alphanumeric with special character (!@#$%^&*_-)
                and length: 7-15':'Please provide confirm password'}}
              </mat-error>
            </mat-form-field>
            <div *ngIf="confPassword && confPassword != password && !f.controls['confpassword']?.errors?.pattern" class="material-error">
              <mat-error class="padding-bottom" style="font-size:11px;margin-top:-16px">
                New password and confirm password should be same
              </mat-error>
            </div>
          </div>
          <div class="form-group text-center col-md-12">
            <button class="btn btn-default proceed-btn button-fn user-submit" type="submit">{{app.langSelection == 1?'Submit':'ଦାଖଲ କରନ୍ତୁ'}}</button>
            <!-- <button class="btn btn-default proceed-btn button-fn user-submit" type="submit" *ngIf="app.langSelection == 2">ଦାଖଲ କରନ୍ତୁ </button> -->
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="successMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-error" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <!-- <div class="modal-header">
                  <p class="heading lead">Success</p>
              </div> -->

        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <p> {{validationMsg}}</p>
          </div>
          <button type="button" class="btn btn-secondary m-auto d-block modal-btn" (click)="successModal()">Ok</button>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>

  <div class="modal fade" id="oldPassNotMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-error" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <!-- <div class="modal-header data-error">
                  <p class="heading lead">Error</p>
              </div> -->

        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <p>{{validationMsg}}</p>
          </div>
          <button type="button add-btn" class="btn btn-secondary m-auto d-block modal-btn" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>