<div class="container-fluid">
  <div class="row question-row">
    <div class="col-lg-3 left-list">
      <app-landing-side-menu></app-landing-side-menu>
    </div>
    <div class="col-lg-9 content-sec offset-lg-3 ">
      <h2 class="page-heading"> {{app.langSelection==1? 'Gallery' :' ଗ୍ୟାଲେରୀ'}}  </h2>
      <form class="row" #f="ngForm" (submit)="f.valid && (uploadedFilePaths.length || selectionsValue.vlink) ?publishData(f):''">
        <div class="col-md-12 margin-fields">
          <mat-form-field class="user-mangt">
            <input matInput name="title" maxlength="100" [placeholder]="app.langSelection == 1 ? 'Caption':' ଶିରୋନାମା'" required [(ngModel)]="selectionsValue.title">
            <mat-error class="padding-bottom">
              {{f.controls['title']?.errors?.pattern ? 'Title accepts only aplhanumeric and white space':'Please add title'}}
            </mat-error>
          </mat-form-field>
          <div class="hints">({{selectionsValue?.title?.length ? selectionsValue?.title?.length: 0}} / 100)</div>
        </div>
        <div class="col-md-12 margin-fields">
          <mat-form-field class="user-mangt">
            <mat-label> {{app.langSelection==1? 'Resource type' :' ସାଧନର ପ୍ରକାର'}} </mat-label>
            <mat-select required [(ngModel)]="selectedResourceTypeId" matInput name="resource1" (selectionChange)="selectResourceType(selectedResourceTypeId)">
              <mat-option *ngFor="let type of allResourceTypes" [value]="type.slugId">{{type.name}}</mat-option>
            </mat-select>
            <mat-error class="padding-bottom">
              Please select a Resource type
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12" *ngIf="selectedResourceTypeId=='114' && !uploadedFilePaths.length">
          <div class="row margin-fields">
            <div class="col-md-12 field-holder">
              <label class="col-md-2"> {{app.langSelection==1? 'Upload Image' :' ଫୋଟୋ ଅପଲୋଡ୍ କରନ୍ତୁ'}} 
                <span class="spanErr">&nbsp;*</span>
                <span class="hint-inline">(Maximum size: 5MB)</span>
              </label>
              <div class="col-md-9">
                <input id="uploadFile" [(ngModel)]="imageup" #inputFile type="file" (change)="fileUpload($event,extensionsImage,5000000)"
                  name="uploadImages" [accept]="extensionsImage?convertExtToAcceptString(extensionsImage):''">
              </div>
            </div>
            <div>
              <mat-error class="padding-bottom uploadErr" *ngIf="!uploadedFilePaths.length">
                {{'Please upload file'}}
              </mat-error>
              <mat-error class="padding-bottom uploadErr" *ngIf="fileExtensionValidationMessage">
                {{fileExtensionValidationMessage}}
              </mat-error>
            </div>
          </div>
        </div>
        <div class="col-md-12 margin-fields dlt-btn" *ngIf="uploadedFilePaths.length">
          <div *ngFor="let file of uploadedFilePaths; let i=index" class=" row">
            <div class="col-md-6 d-inline-block up-text">{{file.path.split('resources/')[1]}}</div>
            <div class="col-md-6 d-inline-block">
              <button class="btn delete-btn" (click)="removeFromFilePath(i)">Delete</button>
            </div>
          </div>
        </div>
        <div class="col-md-12 margin-fields" *ngIf="selectedResourceTypeId=='108'">
          <mat-form-field class="user-mangt">
            <input matInput name="video-link" required maxlength="150" [placeholder]="app.langSelection == 1 ? 'Video Link':'  ଭିଡିଓ ଲିଙ୍କ୍'" [(ngModel)]="selectionsValue.vlink" [pattern]="videoRegex">
            <mat-error class="padding-bottom">
              {{f.controls['video-link']?.errors?.pattern ? 'Please provide correct video Link(youtube/vimeo/dailymotion)':'Please provide correct video Link(youtube/vimeo/dailymotion)'}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 form-group btns-desgn text-right">
          <button mat-button class="btn submit-btn" type="submit"> {{app.langSelection==1? 'Publish' :'  ପ୍ରକାଶିତ କରନ୍ତୁ'}} </button>
          <button mat-button class="btn submit-btn reset-btn" type="button" (click)="resetForm(f)">{{app.langSelection==1? 'Reset' :'  ପୁନର୍ବାର ସେଟ କରନ୍ତୁ'}}</button>
        </div>
      </form>
      <div class="col-md-12 table-content">
        <div class="table-btn search">
          <div class="col-md-3 form-group">
            <input class="form-control" type="text" id="myInput" [(ngModel)]="searchFilter" placeholder="Search" maxlength="100" />
            <span *ngIf="searchFilter" class="search-close" (click)="clearSearchText();">
              <!-- <i class="fa fa-times-circle" style="font-size:22px;" aria-hidden="true"></i>  -->
            </span>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead style="border-bottom: 5px solid #fff;">
              <tr>
                <th *ngFor="let col of tableColumn; let colms=index" [ngClass]="colms == 0 ? 'selected': 'oddTabelHead'">
                  {{col.split('#')[1]}}
                </th>
                <th class="oddTabelHead td-minWidth text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rowDetails of tableData | reverse | searchPipe: searchFilter | paginate: {itemsPerPage: itemsPerPage, currentPage: p}; let i = index;">
                <td *ngFor="let col of tableColumn">
                  <div *ngIf="rowDetails">{{rowDetails[col.split('#')[0]]}}</div>
                </td>
                <td class="td-minWidth">
                  <span class="fa-stack iconImg" matTooltip="View" (click)="viewMore(rowDetails)">

                    <img class="d-block w-100" src="assets/images/fani_view.png">
                  </span>
                  <span class="fa-stack iconImg" matTooltip="Edit" (click)="editResourceDetails(rowDetails.id, rowDetails)">
                    <img class="d-block w-100" src="assets/images/fani_edit.png">
                  </span>
                  <span class="fa-stack iconImg" matTooltip="Delete" (click)="openModalOnDeleteClick(rowDetails.id)">
                    <img class="d-block w-100" src="assets/images/fani_delete.png">
                  </span>
                  <button class="admin-stories mob-view" *ngIf="rowDetails.isApprove && app.checkUserAuthorization(['CMS_Admin'])" [disabled]="rowDetails.isApprove" >
                    <span class="fa-stack" matTooltip="Approved">
                      <img class="d-block w-100" src="assets/images/fani_approved.png">
                    </span>
                  </button>
                  <button class="admin-stories" *ngIf="!rowDetails.isApprove && app.checkUserAuthorization(['CMS_Admin'])">
                    <span class="fa-stack iconImg" matTooltip="Approve" (click)="openModalOnApproveClick(rowDetails.id)">
                      <img class="d-block w-100" src="assets/images/fani_approve.png">
                    </span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="(tableData && !tableData.length) || (tableData && tableData.length && (tableData | searchPipe: searchFilter).length==0)"
          class="col-md-12 text-center no-data">No Data Found.
        </div>
        <div class="col-md-12 pagination-margin" *ngIf="(tableData && tableData.length && (tableData | searchPipe: searchFilter).length)">
          <pagination-controls (pageChange)="p = $event;" class="pagination"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="deleteResource" class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h4>INFO !</h4>
        <p>Are you sure you want to delete this ?</p>
        <button class="btn" (click)="deleteSelectedResource()" style="margin-right: 5px;">
          <span>YES</span>
        </button>
        <button class="btn" data-dismiss="modal">
          <span>CANCEL</span>
        </button>
      </div>
    </div>
  </div>
</div>


<div id="publishedSuccess" class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h4>Success !</h4>
        <p>Published Successfully!</p>
        <button class="btn btn-success" data-dismiss="modal">
          <span>OK</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="deleteSuccess" class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h4>Success !</h4>
        <p>Deleted Successfully!</p>
        <button class="btn" data-dismiss="modal">
          <span>OK</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="error" class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <!-- <h5>ERROR</h5> -->
        <h4>Error !</h4>
        <p>Something Went Wrong!!</p>
        <button class="btn" data-dismiss="modal">
          <span>OK</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div id="approveSuccess" class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h4>Success !</h4>
        <p>Approved Successfully!</p>
        <button class="btn" data-dismiss="modal">
          <span>OK</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="approveResource" class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h4>INFO !</h4>
        <p>Are you sure you want to add this to Gallery ?</p>
        <button class="btn" (click)="approve()" style="margin-right: 5px;">
          <span>YES</span>
        </button>
        <button class="btn" data-dismiss="modal">
          <span>CANCEL</span>
        </button>
      </div>
    </div>
  </div>
</div>