<div class="reg-field-container" *ngIf="allOptions">
  <div class="imp-note">
    <h5>{{app.langSelection == 1? 'Important note for in-kind donations' : 'ଅଣ ରାଶି ଦାନ ନିମନ୍ତେ ବିଶେଷ ସୂଚନା |'}}</h5>
    <p *ngIf="app.langSelection == 1">Only expression of interest is being sought from interested institutions to provide in-kind support.
      Government nodal person will get in touch with relevant contact person of the institution in case of requirement.
    </p>
    <p *ngIf="app.langSelection == 2">କେବଳ ଇଛୁକ ଅନୁଷ୍ଠାନ ମାନଙ୍କ ପାଇଁ ଅଣ ରାଶି ଦାନ ନିମନ୍ତେ ଇଚ୍ଛାପତ୍ର ଅହ୍ୱାନ କରା ଯାଉଛି | ଆବଶ୍ୟକସ୍ଥଳେ ସରକାରୀ ବ୍ୟକ୍ତି ବିଶେଷ ସେହି ଅନୁଷ୍ଠାନ ର କର୍ମକର୍ତାଙ୍କୁ ଯୋଗାଯୋଗ କରିବେ |</p>
  </div>
  <form class="table-div mdm-border row" [formGroup]="sdrcForm"
    (ngSubmit)=" f.valid? submit(f, sdrcForm):scrollToError()" name="form" #f="ngForm">
    <div class="col-md-12 term-check" *ngIf="app.langSelection == 1">
      Please read and agree with the <a class="term-condition-link" (click)="openTermConditionDialog()">terms and conditions</a> <span
      style="color:red; font-weight:500;">*</span> before proceeding further.
    </div>
    <div class="col-md-12 term-check" *ngIf="app.langSelection == 2">
        ଆଗକୁ ଯିବା ପୂର୍ବରୁ <a class="term-condition-link" (click)="openTermConditionDialog()">ନିୟମ ଓ ସର୍ତ୍ତାବଳି</a> <span
        style="color:red; font-weight:500;">*</span> ପଢି ତାକୁ ଅନୁମୋଦନ କରନ୍ତୁ
    </div>
    <div class="selection-fields col-md-6">
      <label for="usr" class="label-heads">{{app.langSelection == 1? '1.	Name of the organization' : '୧. ଅନୁଷ୍ଠାନ ର ନାମ '}} <span
        style="color:red; font-weight:500;">*</span> :</label> 
      <mat-form-field>
        <input matInput name="organizationName" trimActive [form]="sdrcForm" formControlName="organizationName">
        <mat-error class="padding-bottom ">
          {{sdrcForm['controls']['organizationName']?.errors?.pattern ? 'Provided email is incorrect':'Please
          provide organization name'}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="selection-fields col-md-6">
      <label for="usr" class="label-heads">{{app.langSelection == 1? '2.	Type of Organization' : '୨. ଅନୁଷ୍ଠାନ ର ପ୍ରକାର  '}} <span
          style="color:red; font-weight:500;">*</span> :</label>      
      <mat-form-field>
        <mat-select formControlName="organizationType" [(ngModel)]="regForm.organizationType">
          <mat-option *ngFor="let opt of allOptions['Type of Organization']" [value]="opt.slugId">
            {{opt.name}}</mat-option>
        </mat-select>
        <mat-error class="padding-bottom ">
          {{sdrcForm['controls']['organizationType']?.errors?.pattern ? 'pattern':'Please
        provide organization type'}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="selection-fields col-md-6">
      <label for="usr" class="label-heads">{{app.langSelection == 1? '3.	Registration Number' : '୩. ପଞ୍ଜିକରଣ ନମ୍ବର'}} :</label>
      <mat-form-field>
        <input matInput name="registrationNumber" trimActive [form]="sdrcForm" formControlName="registrationNumber">
        <mat-error class="padding-bottom ">
          {{sdrcForm['controls']['registrationNumber']?.errors?.pattern ? '':'Please
          provide registration number'}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="selection-fields col-md-12">
      <label for="usr" class="label-heads">{{app.langSelection == 1? '4.	Registered address of the organization' : '୪. ଅନୁଷ୍ଠାନ ର ପଞ୍ଜିକୃତ  ଠିକଣା'}}</label>
      <div class="sub-questions row">
        <div class="subq col-md-6">
          <label for="usr">{{app.langSelection == 1? '4.1. Country' : '୪.୧.  ଦେଶ '}}<span style="color:red; font-weight:500;">*</span> :</label>
          <mat-form-field>
            <mat-select formControlName="country" [(ngModel)]="regForm.country"
            (ngModelChange)="regForm.country ? getAllStates(2, regForm.country.areaId):'';">
              <mat-option *ngFor="let opt of allCountries" [value]="opt">
                {{opt.areaName}}</mat-option>
            </mat-select>
            <mat-error class="padding-bottom ">
              {{sdrcForm['controls']['country']?.errors?.pattern ? 'pattern':'Please
          select country'}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="subq col-md-6">
          <label for="usr">{{app.langSelection == 1? '4.2. State' : '୪.୨.  ରାଜ୍ୟ'}}<span style="color:red; font-weight:500;">*</span> :</label>         
          <mat-form-field>
            <mat-select formControlName="state" [(ngModel)]="regForm.state"
              (ngModelChange)="regForm.state ? getAllDistricts(3, regForm.state.areaId):''">
              <mat-option *ngFor="let opt of allStates" [value]="opt">
                {{opt.areaName}}</mat-option>
            </mat-select>
            <mat-error class="padding-bottom ">
              {{sdrcForm['controls']['state']?.errors?.pattern ? 'pattern':'Please
          select state'}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="subq col-md-6">
          <label for="usr">{{app.langSelection == 1? '4.3. District' : '୪.୩. ଜିଲ୍ଲା'}}<span style="color:red; font-weight:500;">*</span> :</label>
          <mat-form-field>
            <mat-select formControlName="district" [(ngModel)]="regForm.district"
              (selectionChange)="getBlocks(4, regForm.district.areaId)">
              <mat-option *ngFor="let opt of allDistricts | sortBy : 'areaName'" [value]="opt">
                {{opt.areaName}}</mat-option>
            </mat-select>
            <mat-error class="padding-bottom ">
              {{sdrcForm['controls']['district']?.errors?.pattern ? 'pattern':'Please
          select district'}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="subq col-md-6">
          <label for="usr">{{app.langSelection == 1? '4.4. Landmark' : '୪.୪. ଭୂଚିହ୍ନ'}}<span style="color:red; font-weight:500;">*</span> :</label>
          <mat-form-field>
            <input matInput name="landmark" trimActive [form]="sdrcForm" formControlName="landmark">
            <mat-error class="padding-bottom ">
              {{sdrcForm['controls']['landmark']?.errors?.pattern ? 'pattern':'Please
          provide landmark'}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="subq col-md-6">
          <label for="usr">{{app.langSelection == 1? '4.5. Complete Address' : '୪.୫. ସମ୍ପୂର୍ଣ୍ଣ ଠିକଣା'}}<span style="color:red; font-weight:500;">*</span> :</label>
          <mat-form-field>
            <input matInput name="completeAddress" trimActive [form]="sdrcForm" formControlName="completeAddress">
            <mat-error class="padding-bottom ">
              {{sdrcForm['controls']['completeAddress']?.errors?.pattern ? 'pattern':'Please
          provide complete address'}}
            </mat-error>
          </mat-form-field>
        </div>
        
      </div>
    </div>
    <div class="selection-fields col-md-6">
      <label for="usr" class="label-heads">{{app.langSelection == 1? '5.	Name of contact person' : '୫. ଅଧୀକୃତ ବ୍ୟକ୍ତି ଙ୍କ ନାମ'}}<span style="color:red; font-weight:500;">*</span> :</label>
      <mat-form-field>
        <input matInput name="contactPersonName" trimActive [form]="sdrcForm" formControlName="contactPersonName" [(ngModel)]="regForm.contactPersonName">
        <mat-error class="padding-bottom ">
          {{sdrcForm['controls']['contactPersonName']?.errors?.pattern ? '':'Please
          provide name of contact person'}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="selection-fields col-md-6">
      <label for="usr" class="label-heads">{{app.langSelection == 1? '6.	Email ID of the contact person' : '୬. ଅଧୀକୃତ ବ୍ୟକ୍ତିଙ୍କ ଇ ମେଲ '}}<span style="color:red; font-weight:500;">*</span> :</label>
      <mat-form-field>
        <input matInput name="contactPersonEmail" formControlName="contactPersonEmail" [(ngModel)]="regForm.contactPersonEmail">
        <mat-error class="padding-bottom ">
          {{sdrcForm['controls']['contactPersonEmail']?.errors?.pattern ? 'Provided email is incorrect':'Please
          provide Email ID of contact person'}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="selection-fields col-md-6">
      <label for="usr" class="label-heads">{{app.langSelection == 1? '7. Mobile Number of the contact person' : '୭. ଅଧୀକୃତ ବ୍ୟକ୍ତିଙ୍କ  ମୋବାଇଲ ନମ୍ବର'}}<span style="color:red; font-weight:500;">*</span> :</label>
      <mat-form-field>
        <input matInput name="mobile" onlyNumber formControlName="mobile" [(ngModel)]="regForm.contactPersonMobile">
        <mat-error class="padding-bottom ">
          {{sdrcForm['controls']['mobile']?.errors?.pattern ? 'Mobile no should be 10 digit':'Please
          provide mobile number of contact person'}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="selection-fields col-md-6">
      <label for="usr" class="label-heads">{{app.langSelection == 1? '8.	Types of service offered' : '୮. କେଉଁ ସେବା କାର୍ଯ୍ୟ ନିମନ୍ତେ ଇଛୁକ'}}<span
          style="color:red; font-weight:500;">*</span> :</label>      
      <mat-form-field>
        <mat-select formControlName="serviceType" [(ngModel)]="regForm.serviceType">
          <mat-option *ngFor="let opt of allOptions['Types of service offered']" [value]="opt.slugId">
            {{opt.name}}</mat-option>
        </mat-select>
        <mat-error class="padding-bottom ">
          {{sdrcForm['controls']['serviceType']?.errors?.pattern ? 'pattern':'Please
        provide service type'}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="selection-fields col-md-6">
      <label for="usr" class="label-heads">{{app.langSelection == 1? '9.	Details of the services/product offered' : '୯. ସେବା କିମ୍ବା ଉତ୍ପାଦ ର ବିସ୍ତୃତ ବିବରଣୀ '}}<span
          style="color:red; font-weight:500;">*</span> :</label>
      <mat-form-field>
        <input matInput name="serviceDetails" formControlName="serviceDetails" trimActive [form]="sdrcForm" [(ngModel)]="regForm.serviceDetails">
        <mat-error class="padding-bottom ">
          {{sdrcForm['controls']['serviceDetails']?.errors?.pattern ? 'pattern':'Please
        provide details of service Offered'}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="selection-fields col-md-6">
      <label for="usr" class="label-heads">{{app.langSelection == 1? '10.	Preferred communication method' : '୧୦. ସମ୍ପର୍କ ର ପ୍ରମୁଖ ପସନ୍ଦ'}}<span
          style="color:red; font-weight:500;">*</span> :</label>
      <mat-form-field>
        <mat-select formControlName="preferredCommunicationMethod" [(ngModel)]="regForm.preferredCommunicationMethod">
          <mat-option *ngFor="let opt of allOptions['Preferred communication method']" [value]="opt.slugId">
            {{opt.name}}</mat-option>
        </mat-select>
        <mat-error class="padding-bottom ">
          {{sdrcForm['controls']['preferredCommunicationMethod']?.errors?.pattern ? 'pattern':'Please
        provide Preferred communication method'}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="selection-fields col-md-12">
      <label for="usr" class="label-heads">{{app.langSelection == 1? '11. Preferred Area of Service' : '୧୧. ସେବା କାର୍ଯ୍ୟ ନିମନ୍ତେ ପସନ୍ଦ ର ସ୍ଥାନ'}}</label>
      <div class="sub-questions row">
        <div class="subq col-md-6">
          <label for="usr">{{app.langSelection == 1? '11.1. Area of Service' : '୧୧.୧. ଆପଣ କେଉଁ ସୋପାନ ରେ ସହାୟତା ଦେବାକୁ ଇଛୁକ'}}<span style="color:red; font-weight:500;">*</span> :</label>
          <!-- <label for="usr" *ngIf="app.langSelection == 2">11.1. ଅଞ୍ଚଳ ର ସ୍ଥର <span style="color:red; font-weight:500;">*</span> :</label> -->
          <mat-form-field>
            <mat-select formControlName="areaOfService" [(ngModel)]="regForm.areaOfService"
            (selectionChange)="regForm.preferredState=undefined; regForm.preferredDistrict=undefined; regForm.preferredBlock=undefined;
             allPreferredDistricts = []; allPreferredBlocks =[]">
              <mat-option *ngFor="let opt of allOptions['Preferred area of service']" [value]="opt">
                {{opt.name}}</mat-option>
            </mat-select>
            <mat-error class="padding-bottom ">
              {{sdrcForm['controls']['areaOfService']?.errors?.pattern ? 'pattern':'Please
          select area of service'}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="subq col-md-6">
          <label for="usr">{{app.langSelection == 1? '11.2. State' : ' ୧୧.୨. ରାଜ୍ୟ' }}<span style="color:red; font-weight:500;">*</span> :</label>
          <mat-form-field>
            <mat-select formControlName="preferredState" [(ngModel)]="regForm.preferredState" 
              (selectionChange)="regForm?.areaOfService?.slugId != 105 ? getAllPreferredDistricts(3, 2):''">
              <mat-option *ngFor="let opt of allPreferredStates" [value]="opt">
                {{opt.areaName}}</mat-option>
            </mat-select>
            <mat-error class="padding-bottom ">
              {{sdrcForm['controls']['state']?.errors?.pattern ? 'pattern':'Please
          select preferred state'}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="subq col-md-6" [ngClass]="{'dnone': !(regForm?.areaOfService?.slugId != 105)}">
          <label for="usr">{{app.langSelection == 1? '11.3. District' : '୧୧.୩. ଜିଲ୍ଲା'}}<span style="color:red; font-weight:500;">*</span> :</label>
          <mat-form-field>
            <mat-select formControlName="preferredDistrict" [(ngModel)]="regForm.preferredDistrict"
            (selectionChange)="getPreferredBlocks(4, regForm.preferredDistrict.areaId)" [required]="regForm?.areaOfService?.slugId != 105"
            *ngIf="regForm?.areaOfService?.slugId != 106">
              <mat-option *ngFor="let opt of allPreferredDistricts | sortBy : 'areaName'" [value]="opt">
                {{opt.areaName}}</mat-option>
            </mat-select>
            <mat-select formControlName="preferredDistrict" [(ngModel)]="regForm.preferredDistrict" [required]="regForm?.areaOfService?.slugId != 105" multiple
            *ngIf="regForm?.areaOfService?.slugId == 106">
            <mat-select-trigger>
              {{regForm.preferredDistrict && regForm.preferredDistrict.length ? regForm.preferredDistrict[0].areaName : ''}}
              <span *ngIf="regForm.preferredDistrict?.length > 1" >
                (+{{regForm.preferredDistrict?.length - 1}} {{regForm.preferredDistrict ?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
              <mat-option *ngFor="let opt of allPreferredDistricts | sortBy : 'areaName'" [value]="opt">
                {{opt.areaName}}</mat-option>
            </mat-select>
            <mat-error class="padding-bottom ">
              {{sdrcForm['controls']['preferredDistrict']?.errors?.pattern ? 'pattern':'Please
          select preferred district'}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="subq col-md-6" [ngClass]="{'dnone':!(regForm?.areaOfService?.slugId != 105 && regForm?.areaOfService?.slugId != 106)}">
          <label for="usr">{{app.langSelection == 1? '11.4. Block/City' : '୧୧.୪. ବ୍ଲକ / ସହର'}}<span style="color:red; font-weight:500;">*</span> :</label>
          <mat-form-field>
            <mat-select formControlName="preferredBlock" [required]="regForm?.areaOfService?.slugId != 105 && regForm?.areaOfService?.slugId != 106" [(ngModel)]="regForm.preferredBlock" *ngIf="regForm?.areaOfService?.slugId != 107">
              <mat-option *ngFor="let opt of allPreferredBlocks | sortBy : 'areaName'" [value]="opt">
                {{opt.areaName}}</mat-option>
            </mat-select>
            <mat-select formControlName="preferredBlock" [required]="regForm?.areaOfService?.slugId != 105 && regForm?.areaOfService?.slugId != 106" [(ngModel)]="regForm.preferredBlock" multiple *ngIf="regForm?.areaOfService?.slugId == 107">
              <mat-select-trigger>
                {{regForm.preferredBlock && regForm.preferredBlock.length ? regForm.preferredBlock[0].areaName : ''}}
                <span *ngIf="regForm.preferredBlock?.length > 1" >
                  (+{{regForm.preferredBlock?.length - 1}} {{regForm.preferredBlock ?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let opt of allPreferredBlocks | sortBy : 'areaName'" [value]="opt">
                {{opt.areaName}}</mat-option>
            </mat-select>
            <mat-error class="padding-bottom ">
              {{sdrcForm['controls']['preferredBlock']?.errors?.pattern ? 'pattern':'Please
          select preferred block'}}
            </mat-error>
          </mat-form-field>
        </div>
       </div>
       
    </div> 
    
      <div class="form-group col-md-12 mt-btn text-center">
        <button class="btn btn-default proceed-btn user-submit" [disabled]="!vrService.termAgree" type="submit">{{app.langSelection == 1? 'Submit' : 'ଦାଖଲ କରନ୍ତୁ'}}</button>
      </div>
  </form>
</div>