<div class="container-fluid">
  <div class="row question-row">
    <!-- <div class="mob-left-list" (click)="showLists();">Menu</div> -->
    <div class="col-lg-3 left-list left-side-scroll">
      <app-user-side-menu></app-user-side-menu>
    </div>

    <div class="right-content">
      <div class="col-md-9 content-sec offset-md-3">
        <div class="col-md-10 offset-md-1">

          <form class="all-fields row" #f="ngForm" (submit)="f.valid ?submitForm(selectedRole, f):''">
            <div class="sec-head col-md-12">Personal Information</div>
            <div class="selection-fields col-md-6">
              <mat-form-field class="user-mangt">
                <input matInput name="firstName" placeholder="First Name" [(ngModel)]="firstName" [pattern]='nameRegex' required>
                <mat-error class="padding-bottom ">
                  <!-- {{sdrcForm.controls['name']?.errors?.required ? 'Please provide full name': ''}} -->
                  {{f.controls['firstName']?.errors?.pattern ? 'First name accepts only alphabet and white space(max-length: 50)':'Please provide
                  first name'}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="selection-fields col-md-6">
              <mat-form-field class="user-mangt">
                <input matInput name="middleName" placeholder="Middle Name" [(ngModel)]="middleName" [pattern]='nameRegex'>
                <mat-error class="padding-bottom ">
                  <!-- {{sdrcForm.controls['name']?.errors?.required ? 'Please provide full name': ''}} -->
                  {{f.controls['middleName']?.errors?.pattern ? 'Middle name accepts only alphabet and white space':'Please provide middle
                  name'}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="selection-fields col-md-6">
              <mat-form-field class="user-mangt">
                <input matInput name="lastName" placeholder="Last Name" [pattern]='nameRegex' [(ngModel)]="lastName" required>
                <mat-error class="padding-bottom ">
                  <!-- {{sdrcForm.controls['name']?.errors?.required ? 'Please provide full name': ''}} -->
                  {{f.controls['lastName']?.errors?.pattern ? 'Last name accepts only alphabet and white space':'Please provide last name'}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="selection-fields col-md-6">
              <label for="usr" class="gender">Gender
                <span class="asterisk">*</span>
              </label>
              <div class="form-group radio-section">
                <mat-radio-group class="radio-section-gender" name="gender" [(ngModel)]="gender" required>
                  <mat-radio-button *ngFor="let g of userManagementService.genderData; let i = index" [value]="g.label">{{g.label}}</mat-radio-button>
                </mat-radio-group>

              </div>
              <mat-error class="padding-bottom ">

                {{f.controls['gender']?.errors?.required && f.controls['gender']?.touched ? 'Please select gender':''}}
              </mat-error>
            </div>
            <!-- <div class="selection-fields col-md-6">
              <mat-form-field>
                <input matInput [(ngModel)]="dob" [max]='todayDate' [matDatepicker]="picker" name="dob" placeholder="Date of birth" readonly
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error class="padding-bottom ">

                  {{f.controls['dob']?.errors?.pattern ? 'Provided date of birth not valid':'Please provide your Date of birth'}}
                </mat-error>
              </mat-form-field>
            </div> -->
            <div class="selection-fields col-md-6">
              <mat-form-field class="user-mangt">
                <input matInput class="nospinner" placeholder="Mobile No." type="text" pattern="\d*" maxlength="10" minlength="10" name="mobile"
                  [(ngModel)]="mobile" required>
                <mat-error class="padding-bottom ">
                  {{f.controls['mobile']?.errors?.pattern ? 'Mobile no should be 10 digit':'Please provide mobile number'}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="selection-fields col-md-6">
              <mat-form-field class="user-mangt">
                <input matInput class="nospinner" name="email" placeholder="Email" type="text" [pattern]="emailRegex" [(ngModel)]="email"
                  required>
                <mat-error class="padding-bottom ">

                  {{f.controls['email']?.errors?.pattern ? 'Email not valid':'Please provide email address'}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="selection-fields col-md-6">
              <mat-form-field class="user-mangt">
                <mat-select [(ngModel)]="selectedRole" placeholder="User Role" name="role" required>
                  <mat-option *ngFor="let opt of userManagementService.userRoles" [value]="opt">
                    {{opt.name}}
                  </mat-option>
                </mat-select>
                <mat-error class="padding-bottom ">
                  Please provide user role
                </mat-error>
              </mat-form-field>
            </div>

            <div class="selection-fields col-md-6" *ngIf="selectedRole?.slugId == 4 && (selectedPartner?.name == 'skf' || selectedPartner?.name == 'SKF')">
              <mat-form-field class="user-mangt">
                <mat-select name="subpartner" placeholder="Subpartner" [(ngModel)]="selectedSubpartner" (valueChange)="selectedSubpartnerId=undefined"
                  required>
                  <mat-option *ngFor="let subPartner of userManagementService.allSubpartners" [value]="subPartner">
                    {{subPartner.name}}
                  </mat-option>
                </mat-select>
                <mat-error class="padding-bottom ">
                  Please provide subpartner name
                </mat-error>
              </mat-form-field>
            </div>

            <div class="selection-fields col-md-6" *ngIf="selectedRole?.slugId == 2">
                <mat-form-field class="user-mangt">
                  <mat-select name="areaId" placeholder="District" [(ngModel)]="selectedArea"
                    required>
                    <mat-option *ngFor="let area of userManagementService.areaList | sortBy : 'areaName'" [value]="area.areaId">
                      {{area.areaName}}
                    </mat-option>
                  </mat-select>
                  <mat-error class="padding-bottom ">
                    Please select one district
                  </mat-error>
                </mat-form-field>
              </div>

            <!-- <div class="sec-head col-md-12">Professional Information</div>

            <div class="selection-fields col-md-6">
              <mat-form-field>
                <mat-select name="partner" placeholder="Partner" [(ngModel)]="selectedPartner" (valueChange)="selectedSubpartner=undefined"
                  required>
                  <mat-option *ngFor="let partner of userManagementService.allPartners" [value]="partner">
                    {{partner.name}}
                  </mat-option>
                </mat-select>
                <mat-error class="padding-bottom ">
                  Please provide partner name
                </mat-error>
              </mat-form-field>
            </div> -->

            <div class="sec-head col-md-12">Identification Information</div>
            <div class="selection-fields col-md-6">
              <mat-form-field class="user-mangt">
                <input matInput name="username" placeholder="Username" [pattern]='usernameRegex' [(ngModel)]="userName" required maxlength="30">
                <mat-error class="padding-bottom ">

                  {{f.controls['username']?.errors?.pattern ? 'Username accepts only alphabets and numbers':'Please provide username'}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="selection-fields col-md-6">
              <mat-form-field class="user-mangt">
                <input matInput name="password" [pattern]='passwordRegex' placeholder="Password" [(ngModel)]="password" required>
                <mat-error class="padding-bottom ">
                  {{f.controls['password']?.errors?.pattern ? 'Password should be alphanumeric with special character (!@#$%^&*_-) and length: 7-15':'Please
                  provide password'}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="selection-fields col-md-6" style="padding-top:15px;">
              <mat-form-field class="user-mangt">
                <input matInput type="password" name="confpassword" [pattern]='passwordRegex' placeholder="Confirm Password" [(ngModel)]="confPassword" required>
                <mat-error class="padding-bottom ">
                  {{f.controls['confpassword']?.errors?.pattern ? 'Confirm password should be alphanumeric with special character (!@#$%^&*_-) and length: 7-15':'Please
                  provide confirm password'}}
                </mat-error>
              </mat-form-field>
              <div *ngIf="confPassword && confPassword != password && !f.controls['confpassword']?.errors?.pattern" class="material-error">
                  <mat-error class="padding-bottom" style="font-size:11px;margin-top:-16px">
                    The passwords do not match.
                  </mat-error>
              </div>
            </div>

            <div class="form-group mt-btn text-center col-md-12">
              <button class="btn btn-default proceed-btn button-fn user-submit" type="submit">Create</button>
              <!-- [disabled]="!fullName || !mobile || mobile.toString().length != 10 || !userName || !password || !selectedRoleId || (selectedRoleId ==2 && !selectedDistrictId) ||  (selectedRoleId ==3 && !selectedBlockId)" -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="successMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-error" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <!-- <div class="modal-header">
                  <p class="heading lead">Success</p>
              </div> -->

        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <p> {{validationMsg}}</p>
          </div>
          <button type="button" class="btn btn-secondary m-auto d-block modal-btn" (click)="successModal()">Ok</button>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>

  <div class="modal fade" id="oldPassNotMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-error" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <!-- <div class="modal-header data-error">
                  <p class="heading lead">Error</p>
              </div> -->

        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <p>{{validationMsg}}</p>
          </div>
          <button type="button add-btn" class="btn btn-secondary m-auto d-block modal-btn" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>