.message-box{
    margin-bottom: 10px;
}
.success{
    text-align: center;
    color:#41C484;
}
.mat-dialog-content{
    text-align: center !important;
}

.checbox-container {
    text-align: left;
}
.checkbox-child-container {
    margin-left: 25px;
}
.cancel-btn {
    background-color: #2f2d2d;
}
.download-btn {
    margin-left: 20px;
}