<div class="container-fluid background main-font">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 lang-width-tab-view"></div>
            <div class="col-md-8 top-menu">
                <div class="region region-header">
                    <div id="block-common-utils-mygov-login-block" class="block block-common-utils">
                        <div class="content setting-option">
                            <ul class="lang-details">
                                <li>
                                    <a class="english" (click)="app.changeContentLanguage(1)" title="English" href="javascript:void(0);" role="link">English
                                    </a>
                                </li>
                                <li>
                                    <a class="english" (click)="app.changeContentLanguage(2)" title="ଓଡିଆ" href="javascript:void(0);" role="link">ଓଡିଆ</a>
                                </li>                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>

<!-- end login section -->

<!-- logo section start -->
<div class="container-fluid logo-background main-font fixed-top" style="overflow: hidden;">
    <div class="col-md-12 header-tab-view p-0">
        <div class="row">
            <div class="col-md-3 left-container">
                <div class="left-side">
                    <a href="https://odisha.gov.in/" target="_blank">
                        <img title="Govt Of Odisha" class="logo-govt" src="./assets/images/odisha-govt.jpg" alt="sdg-logo">
                    </a>
                    <div class="heading-name">
                        <h1 class="heading-title cursor-pointer" routerLink="/"> COVID-19 </h1>
                        <p class="heading-subtite">Government of Odisha</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3 right-logo">
                <a href="https://mohfw.gov.in/" class="right-logos" target="_blank">
                        <img title="Govt of India" class="mwcd-logo" src="./assets/images/Government of India_Logo.svg" alt="Govt of India">
                </a>
                <a href="https://sustainabledevelopment.un.org/" class="right-logos" target="_blank">
                        <img title="Sustainable Development Goal" class="bbbp-logo" src="./assets/images/Sustainalbe_development_Goals_Logo.svg" alt="SDG Logo">
                </a>
                <a href="https://www.in.undp.org/" class="right-logos" target="_blank">
					<img title="United Nations Development Programme" class="undp-logo" src="./assets/images/UNDP_Logo.svg" alt="UNDP Logo">
                </a>
            </div> -->
            <!-- <div class="col-md-1 burger-section">
                    <div class="burger-button" (click)="m.toggle($event)">
                        <img class="burger-icon" src="./assets/images/icon/Burger.png">
                    </div>
            </div> -->
            <div class="col-md-9 p-0" *ngIf="app.langSelection == 1">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item" *ngIf="app.checkLoggedIn() && app.getUsername()">
                                Welcome {{app.getUsername()}}
                            </li>
                            <li class="nav-item dropdown" [ngClass]="{'active': router.url=='/home' || router.url=='/'}">
                                <a class="nav-link" routerLink="">Home</a>
                            </li>
                            <li class="nav-item dropdown" [ngClass]="{'active': router.url=='/resources-view'}">
                                <a class="nav-link" routerLink="resources-view">Resources</a>
                            </li>
                            <li class="nav-item" [ngClass]="{'active': router.url=='/gallery'}">
                                <a class="nav-link admin-group" routerLink="gallery">
                                    <span class=" d-sm-inline-block">Gallery</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown" *ngIf="!app.checkLoggedIn()" [ngClass]="{'active': router.url=='/volunteer-registration'}">
                                <a class="nav-link" routerLink="volunteer-registration">Volunteer Registration</a>
                            </li>
                            <li class="nav-item dropdown" [ngClass]="{'active': router.url=='/login'}" *ngIf="!app.checkLoggedIn()">
                                <a class="nav-link" routerLink="login">Login</a>
                            </li>
                            <ul class="menu-drive" *ngIf="app.checkLoggedIn()">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle hide-sm" data-toggle="dropdown" href="#">
                                        <img src="https://cdn4.iconfinder.com/data/icons/finite-application/16/grid-9-512.png" width="24px" class="menu-web">
                                    </a>
                                    <div class="dropdown-menu extra-nav-bar arrow list-drive show-sm">
                                        <div class="triangle-up"></div>
                                        <li class="nav-item dropdown" *ngIf="app.checkLoggedIn()" [ngClass]="{'active': router.url=='/report'}">
                                            <a class="nav-link" routerLink="report">Report</a>
                                        </li>

                                        <li class="nav-item dropdown" *ngIf="app.checkUserAuthorization(['USER_MGMT_ALL_API'])" [ngClass]="{'active': router.url=='/create-user'|| router.url=='/manage-user' || router.url=='/change-password'}">
                                            <a class="nav-link" routerLink="create-user">User Management</a>
                                        </li>
                                        <li class="nav-item dropdown" *ngIf="app.checkLoggedIn() && app.getUserDesg()" [ngClass]="{'active': router.url=='/assign-task-list'}">
                                            <a class="nav-link" routerLink="assign-task-list">Task Management</a>
                                        </li>
                                        <li class="nav-item" *ngIf="app.checkLoggedIn()" [ngClass]="{'active': router.url=='/gallery-upload' || router.url=='/resources' || router.url=='/important-links' }">
                                            <a class="nav-link admin-group" routerLink="gallery-upload">
                                                <span class=" d-sm-inline-block">CMS</span>
                                            </a>
                                        </li>
                                        <!-- <li class="nav-item" *ngIf="app.checkLoggedIn() && app.checkUserAuthorization(['dataentry_HAVING_write'])" [ngClass]="{'active': router.url=='/covid19-tracker' }">
                                            <a class="nav-link admin-group" routerLink="covid19-tracker">
                                                <span class=" d-sm-inline-block">Data Entry</span>
                                            </a>
                                        </li> -->
                                        <li class="nav-item" *ngIf="app.checkLoggedIn()" [ngClass]="{'active': router.url=='/reset-password'}">
                                            <a class="nav-link admin-group" routerLink="reset-password">
                                                <span class="d-sm-inline-block">Reset Password</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" *ngIf="app.checkLoggedIn()" (click)="logout()">
                                            <a class="nav-link admin-group" style="cursor: pointer">
                                                <span class=" d-sm-inline-block">Logout</span>
                                            </a>
                                        </li>
                                    </div>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="col-md-9 p-0"  *ngIf="app.langSelection == 2">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item" *ngIf="app.checkLoggedIn() && app.getUsername()">
                                Welcome {{app.getUsername()}}
                            </li>
                            <li class="nav-item dropdown" [ngClass]="{'active': router.url=='/home' || router.url=='/'}">
                                <a class="nav-link" routerLink="">ମୁଖ୍ୟ ପୃଷ୍ଠା</a>
                            </li>
                            <li class="nav-item dropdown" [ngClass]="{'active': router.url=='/resources-view'}">
                                <a class="nav-link" routerLink="resources-view">ସାଧନ</a>
                            </li>
                            <li class="nav-item" [ngClass]="{'active': router.url=='/gallery'}">
                                <a class="nav-link admin-group" routerLink="gallery">
                                    <span class=" d-sm-inline-block">ଗ୍ୟାଲେରୀ</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown" *ngIf="!app.checkLoggedIn()" [ngClass]="{'active': router.url=='/volunteer-registration'}">
                                <a class="nav-link" routerLink="volunteer-registration">ସ୍ୱେଚ୍ଛାସେବୀ ପଞ୍ଜିକରଣ </a>
                            </li>
                            <li class="nav-item dropdown" [ngClass]="{'active': router.url=='/login'}" *ngIf="!app.checkLoggedIn()">
                                <a class="nav-link" routerLink="login">ଲଗଇନ୍</a>
                            </li>
                            <ul class="menu-drive" *ngIf="app.checkLoggedIn()">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle hide-sm" data-toggle="dropdown" href="#">
                                        <img src="https://cdn4.iconfinder.com/data/icons/finite-application/16/grid-9-512.png" width="24px" class="menu-web">
                                    </a>
                                    <div class="dropdown-menu extra-nav-bar arrow list-drive show-sm">
                                        <div class="triangle-up"></div>
                                        <li class="nav-item dropdown" *ngIf="app.checkLoggedIn()" [ngClass]="{'active': router.url=='/report'}">
                                            <a class="nav-link" routerLink="report">Report</a>
                                        </li>

                                        <li class="nav-item dropdown" *ngIf="app.checkUserAuthorization(['USER_MGMT_ALL_API'])" [ngClass]="{'active': router.url=='/create-user'|| router.url=='/manage-user' || router.url=='/change-password'}">
                                            <a class="nav-link" routerLink="create-user">User Management</a>
                                        </li>
                                        <li class="nav-item dropdown" *ngIf="app.checkLoggedIn() && app.getUserDesg()" [ngClass]="{'active': router.url=='/assign-task-list'}">
                                            <a class="nav-link" routerLink="assign-task-list">Task Management</a>
                                        </li>
                                        <li class="nav-item" *ngIf="app.checkLoggedIn()" [ngClass]="{'active': router.url=='/gallery-upload' || router.url=='/resources' || router.url=='/important-links' }">
                                            <a class="nav-link admin-group" routerLink="gallery-upload">
                                                <span class=" d-sm-inline-block">CMS</span>
                                            </a>
                                        </li>                                    
                                        <li class="nav-item" *ngIf="app.checkLoggedIn()" [ngClass]="{'active': router.url=='/reset-password'}">
                                            <a class="nav-link admin-group" routerLink="reset-password">
                                                <span class="d-sm-inline-block">Reset Password</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" *ngIf="app.checkLoggedIn()" (click)="logout()">
                                            <a class="nav-link admin-group" style="cursor: pointer">
                                                <span class=" d-sm-inline-block">Logout</span>
                                            </a>
                                        </li>
                                    </div>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section-divider">
</div>
<!-- end logo section -->

<!-- menu section start -->
<!-- <header id="header" class="main-font">
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown" [ngClass]="{'active': router.url=='/home' || router.url=='/'}" >
                            <a class="nav-link" routerLink="" >Home</a>
                        </li>
                        <li  class="nav-item dropdown" [ngClass]="{'active': router.url=='/about-sdg'}">
                            <a class="nav-link"  routerLink="about-sdg">About SDG</a>
						</li>

						<li  class="nav-item dropdown" [ngClass]="{'active': router.url=='/resources'}">
                            <a class="nav-link"  routerLink="resources">Resources</a>
						</li>
						<li  class="nav-item dropdown" [ngClass]="{'active': router.url=='/contact-us'}">
                            <a class="nav-link"  routerLink="contact-us">Contact Us</a>
                        </li>
                        <li class="nav-item dropdown" *ngIf="app.checkUserAuthorization(['DATA_ENTRY'])" [ngClass]="{'active': router.url=='/data-entry/data-entry-view'}">
                            <a class="nav-link" mdbRippleRadius routerLink="/data-entry/data-entry-view">Data Entry</a>
                        </li>
                        <li class="nav-item dropdown" *ngIf="app.checkLoggedIn()" [ngClass]="{'active': router.url=='/dashboard/dashboard-view'}">
                            <a class="nav-link" mdbRippleRadius routerLink="/dashboard/dashboard-view">Dashboard</a>
                        </li>
                        <li class="nav-item dropdown" *ngIf="app.checkLoggedIn()" [ngClass]="{'active': router.url=='/mdm/target-value-entry'}">
                            <a class="nav-link" mdbRippleRadius routerLink="/mdm/target-value-entry">MDM</a>
                        </li>
						<li  class="nav-item dropdown" [ngClass]="{'active': router.url=='/login'}" *ngIf="!app.checkLoggedIn()">
                            <a class="nav-link"  routerLink="login" >Login</a>
                        </li>
                        <li class="nav-item" *ngIf="app.checkLoggedIn()" (click)="logout()">
                            <a class="nav-link admin-group" style="cursor: pointer"><span class=" d-sm-inline-block">Logout</span></a>
                          </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header> -->
<!-- /.navbar -->